* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.dg {
  color: #eee;
  font: 11px Lucida Grande, sans-serif;
  text-shadow: 0 -1px 0 #111;
}

.dg.ac {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 0;
}
.bg{
  background: #1a1a1a;
}
.bg2{
  background: #000;
}
.dg.contain {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  /* background: #1a1a1a; */
}
.dg.main{
  width:0;
  overflow: hidden;
}
.dg.main.open {
  width: 260px;
  height: auto;
  min-height: 100px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  transform: translate(100%, 0);
}

/* .folder {
  border-left: 4px solid transparent;
} */

.folder>.caption {
  padding: 0 5px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}
.folder.open>ul {
  overflow: hidden;
  height: auto;
  padding-left: 3px;
}

.folder>ul {
  height: 0;
  overflow: hidden;
  padding-left: 3px;
}

.ctrl-group {
  display: table;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-bottom: 1px #2C2C2C solid;
}

.ctrl-group label {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
}

.ctrl-group .ctrl-main {
  display: table-cell;
  width: 60%;
}

.ctrl-group .slider {
  width: 100%;
  height: 100%;
  display: table;
}

.ctrl-group .slider-bar:hover {
  background: #3c3c3c;
}

.ctrl-group .slider-bar {
  display: table-cell;
  width: 100%;
  height: 100%;
  background: #303030;
  cursor: e-resize;
  border-radius: 5px;
  vertical-align: middle;
}

.ctrl-group .slider-fg {
  height: 100%;
  background: #44abda;
  border-radius: 5px;
}

.ctrl-group .slider-val {
  display: table-cell;
  overflow: hidden;
  padding-left: 10px;
  border-radius: 5px;
  vertical-align: middle;
}

.ctrl-group input {
  width: 40px;
  height: 100%;
  vertical-align: top;
  border: none;
  background: #303030;
  color: #44abda;
  padding: 2px 5px;
  border-radius: 5px;
}

.ctrl-group input:hover {
  background: #3c3c3c;
}
.boolean{
  border-left: 3px solid #806787;
}
.string{
  border-left: 3px solid #1ed36f;
}
.number{
  border-left: 3px solid #2fa1d6;
}
.function{
  border-left: 3px solid #e61d5f;
}
